target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Package Files ###
*.jar
*.war
*.zip
*.tar.gz
*.rar

